<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATVFiles</key>
	<dict>
		<key>Developer</key>
		<string>Eric Steil III</string>
		<key>ReleaseDate</key>
		<date>2009-11-01T12:00:00Z</date>
		<key>ShortDescription</key>
		<string>Media browser and player</string>
		<key>Version</key>
		<string>491</string>
		<key>displayVersion</key>
		<string>1.2.1.1</string>
		<key>md5</key>
		<string>6ae720eb02b3206dcf04c1af7ce2ab85</string>
		<key>name</key>
		<string>ATVFiles</string>
		<key>theDesc</key>
		<string>http://ericiii.net/sa/appletv/README.txt</string>
		<key>theURL</key>
		<string>http://ericiii.net/sa/appletv/ATVFiles-1.2.1.1.tar.gz</string>
		<key>thelicense</key>
		<string>http://ericiii.net/sa/appletv/LICENSE.txt</string>
		<key>osMin</key>
		<string>2.1</string>
		<key>osMax</key>
		<string>2.4</string>
	</dict>
	<key>ATVFiles3</key>
	<dict>
		<key>Developer</key>
		<string>Eric Steil III</string>
		<key>ReleaseDate</key>
		<date>2008-12-14T12:00:00Z</date>
		<key>ShortDescription</key>
		<string>Media browser and player</string>
		<key>Version</key>
		<string>479</string>
		<key>displayVersion</key>
		<string>1.2.0</string>
		<key>md5</key>
		<string>47cb0c7e5d82ffec00172d4b56f72281</string>
		<key>name</key>
		<string>ATVFiles (ATV 3.0)</string>
		<key>theDesc</key>
		<string>http://ericiii.net/sa/appletv/README.txt</string>
		<key>theURL</key>
		<string>http://ericiii.net/sa/appletv/ATVFiles-1.2.0.tar.gz</string>
		<key>thelicense</key>
		<string>http://ericiii.net/sa/appletv/LICENSE.txt</string>
		<key>osMin</key>
		<string>3.0</string>
		<key>osMax</key>
		<string>3.0.1</string>
	</dict>
</dict>
</plist>
